<!DOCTYPE html>
<html>
<head>
<link href="/CSS/index.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="javascript/create.js"> </script>

<script src="/Javascript/index.js" type="text/javascript"> </script>
<script src="/Javascript/header.js" type="text/javascript"> </script>
</head>

<body>
	<nav class="navbar navbar-default">
			<!-- Logo -->
			<div class="container-fluid">

				<div class="navbar-header">
						<a href="http://localhost:3000" class="navbar-brand">MyAdvisor+</a>
				 </div>
				 <!-- Menu Items -->

				 <div>
				 		<ul class="nav navbar-nav side">
				 				
				 				<li class="active">
				 					<a href="http://localhost:3000"> Course Recommendations </a>
				 				</li>
				 				<li class="active">
				 					<a href="#"> About </a>
				 				</li>
				 				<li class="active">
				 					<a href="http://localhost:3000/courseguide"> Course Guide </a>
				 				</li>
				 			

				 		</ul>
				 		<ul class="nav navbar-nav navbar-right">
				 			<li class="active">
				 					<a href="http://localhost:3000/create"> Create Account </a>
				 				</li>
				 				<li class="active">
				 					<a href="http://localhost:3000/login"> Login </a>
				 				</li>
                    	</ul>

			</div>

	</nav>

	<datalist id="classes">
  <option value="EECS 280">
  <option value="EECS 281">
  <option value="EECS 183">
  <option value="ENGR 101">
  <option value="EECS 270">
  <option value="EECS 370">
  <option value="EECS 373">
  <option value="EECS 376">
  <option value="ENGR 388">
  <option value="EECS 442">
  <option value="EECS 441">
  <option value="EECS 445">
  <option value="EECS 467">
  <option value="ENGR 470">
  <option value="EECS 475">
  <option value="EECS 481">
  <option value="EECS 482">
  <option value="EECS 484">
  <option value="ENGR 482">
  <option value="EECS 485">
  	<option value="EECS 486">
  <option value="EECS 492">
  <option value="EECS 494">
	</datalist>
	<div class="container-fluid">