<!DOCTYPE html>
<html>
<head>

<link href="/CSS/index.css" rel="stylesheet" type="text/css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="javascript/create.js"> </script>

<script src="/Javascript/index.js" type="text/javascript"> </script>
<script src="/Javascript/header.js" type="text/javascript"> </script>
<script src="Javascript/courseguide.js" type="text/javascript"> </script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
 <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
</head>

<body>
	<nav class="navbar navbar-default">
			<!-- Logo -->
			<div class="container-fluid">

				<div class="navbar-header">
						<a href="http://localhost:3000" class="navbar-brand">MyAdvisor+</a>
				 </div>
				 <!-- Menu Items -->

				 <div>
				 		<ul class="nav navbar-nav side">

				 				<li class="active">
				 					<a href="http://localhost:3000/recommendation"> Course Recommendations </a>
				 				</li>
				 				<li class="active">
				 					<a href="#"> About </a>
				 				</li>
				 				<li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Guide <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                <form class="pure-form pure-form-stacked" action="http://localhost:3000/courseguide/search" method="get">
    <fieldset>



                                       <label for="term">Term</label>
                                         <select name="term" id="term-input">
                                                <option> Fall 2016 </option>
                                                 <option> Winter 2017 </option>
                                            </select>



                                        <label for="school">School</label>
                                      <select placeholder="College of Engineering" name="school"id="school-input">
                                      <option> College of Engineering </option>
                                          <option> Literature, Science & the Arts </option>
                                          <option> School of Education </option>
                                          <option> Ross School of Business </option>
                                    </select>



                             <label for="department">Department</label>
                                        <select name="department" placeholder="Select School" id="department-input">


                                         </select>
                                 <label for="course"> Course </label>
                             <select name="course" id="course-input" type="text" list="courses" >
                                     </select>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6 col-xs-offset-3">
                                                <button type="submit" name="search-submit" id="search-submit" tabindex="4" class="form-control btn btn-info" value="Search Now">Search </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                                 </fieldset>
                            </form>
                        </div>

                        </ul>
                    </li>


				 		</ul>
				 		<ul class="nav navbar-nav navbar-right">
				 			<li class="active">
				 					<a href="http://localhost:3000/create"> Create Account </a>
				 				</li>
				 				<li class="active">
				 					<a href="http://localhost:3000/login"> Login </a>
				 				</li>
                    	</ul>

			</div>

	</nav>

	<datalist id="classes">
  <option value="EECS 280">
  <option value="EECS 281">
  <option value="EECS 183">
  <option value="ENGR 101">
  <option value="EECS 270">
  <option value="EECS 370">
  <option value="EECS 373">
  <option value="EECS 376">
  <option value="ENGR 388">
  <option value="EECS 442">
  <option value="EECS 441">
  <option value="EECS 445">
  <option value="EECS 467">
  <option value="ENGR 470">
  <option value="EECS 475">
  <option value="EECS 481">
  <option value="EECS 482">
  <option value="EECS 484">
  <option value="ENGR 482">
  <option value="EECS 485">
  <option value="EECS 486">
  <option value="EECS 492">
  <option value="EECS 494">
	</datalist>
	<div class="container-fluid">