<% include header %>
		<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<div class="well">
						<h3 class="text-primary"> Please Enter Your Academic Information </h3>
						<form id="courses">
								<div class="form-group">
									<div class="dropdown">
										<button type="button" class="btn btn-primary dropdown-toggle" id="term" data-toggle="dropdown">
											<b> Term: </b> <span class="caret"> </span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   											 <li class="t"id="fall"><a href="#">Fall 2016</a></li>
    										 <li class="t"id="winter"><a href="#">Winter 2017</a></li>

 										</ul>
									</div>
								</div>
								<div class="form-group">
									<div class="dropdown">
										<button type="button" class="btn btn-primary dropdown-toggle" id="school" data-toggle="dropdown">
											<b> School: </b> <span class="caret"> </span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   											 <li class="s"><a href="#">College of Engineering</a></li>
    										 <li class="s"><a href="#">Literature, Sciences, and the Arts</a></li>

 										</ul>
									</div>
								</div>
								<div class="form-group">
									<div class="dropdown">
										<button type="button" class="btn btn-primary dropdown-toggle" id="major" data-toggle="dropdown">
											<b> Major: </b> <span class="caret"> </span>
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   											 <li class="m"><a href="#">Computer Science</a></li>
    										 <li class="m"><a href="#">Mathematics</a></li>

 										</ul>
									</div>
								</div>
								<div class="checkbox">
  								<label><input id="ascending" type="checkbox" value="">Sort Ascending</label>
								</div>
								<div class="checkbox">
  								<label><input id="descending" type="checkbox" value="">Sort Descending</label>
								</div>

								<div class="form-group" id="add-class-form">
										<button type="button" class="btn btn-primary" id="add-class">
											<b> Add Previously Taken Course </b>
										</button>
								</div>

 				<button type="submit" id="course-submit" class="btn btn-success">Submit</button>
						</form>
					</div>
				</div>
				<div class="col-md-2">

				</div>
				<!--
				<div id="help">
				<div id="row center">
					<div class="col-md-12">
						Here

				<div class"col-md-4">

				</div>
				<div class="col-md-4 center" id="rec-list">
					Right Here
				</div>
				<div class="col-md-4">
				</div>

				</div>
				</div>
			</div>
		-->
		</div>
		<div class="row">
		 <div class="col-md-12 help" id='rec-list' style="text-align: center;">

		 </div>
		</div>
<% include footer %>

